USE [master]
GO
/****** Object:  Database [FieldTech]    Script Date: 26/3/2026 08:17:52 ******/
CREATE DATABASE [FieldTech]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FieldTech', FILENAME = N'G:\sqlserver\MSSQL17.SQLEXPRESS\MSSQL\DATA\FieldTech.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FieldTech_log', FILENAME = N'G:\sqlserver\MSSQL17.SQLEXPRESS\MSSQL\DATA\FieldTech_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FieldTech].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FieldTech]
GO
/****** Object:  Table [dbo].[ClientProfile]    Script Date: 26/3/2026 08:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientProfile](
	[UserId] [int] NOT NULL,
	[ClientType] [nvarchar](50) NULL,
	[DisplayName] [nvarchar](150) NULL,
	[ContactName] [nvarchar](150) NULL,
	[ContactPhone] [nvarchar](20) NULL,
	[LocationText] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileStorage]    Script Date: 26/3/2026 08:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileStorage](
	[FileId] [int] IDENTITY(1,1) NOT NULL,
	[UploadedByUserId] [int] NOT NULL,
	[OriginalFileName] [nvarchar](255) NULL,
	[StoragePathOrUrl] [nvarchar](500) NULL,
	[MimeType] [nvarchar](100) NULL,
	[SizeBytes] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicianCV]    Script Date: 26/3/2026 08:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicianCV](
	[TechnicianUserId] [int] NOT NULL,
	[FileId] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TechnicianUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicianEducation]    Script Date: 26/3/2026 08:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicianEducation](
	[EducationId] [int] IDENTITY(1,1) NOT NULL,
	[TechnicianUserId] [int] NOT NULL,
	[Institution] [nvarchar](150) NULL,
	[TitleOrDegree] [nvarchar](150) NULL,
	[Year] [int] NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[EducationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicianExperience]    Script Date: 26/3/2026 08:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicianExperience](
	[ExperienceId] [int] IDENTITY(1,1) NOT NULL,
	[TechnicianUserId] [int] NOT NULL,
	[RoleTitle] [nvarchar](150) NULL,
	[CompanyName] [nvarchar](150) NULL,
	[StartYear] [int] NULL,
	[EndYear] [int] NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExperienceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicianProfile]    Script Date: 26/3/2026 08:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicianProfile](
	[UserId] [int] NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[HourlyRate] [decimal](10, 2) NULL,
	[Zone] [nvarchar](100) NULL,
	[AvailabilityStatus] [nvarchar](50) NULL,
	[PortfolioUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/3/2026 08:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[UserType] [nvarchar](10) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkOrder]    Script Date: 26/3/2026 08:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrder](
	[WorkOrderId] [int] IDENTITY(1,1) NOT NULL,
	[ClientUserId] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[Category] [nvarchar](100) NULL,
	[LocationText] [nvarchar](255) NULL,
	[BudgetAmount] [decimal](10, 2) NULL,
	[Urgency] [nvarchar](20) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkOrderAssignment]    Script Date: 26/3/2026 08:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrderAssignment](
	[AssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[WorkOrderId] [int] NOT NULL,
	[TechnicianUserId] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[AgreedAmount] [decimal](10, 2) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[AssignedAt] [datetime2](7) NULL,
	[RespondedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkOrderCheckIn]    Script Date: 26/3/2026 08:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrderCheckIn](
	[CheckInId] [int] IDENTITY(1,1) NOT NULL,
	[WorkOrderId] [int] NOT NULL,
	[TechnicianUserId] [int] NOT NULL,
	[CheckInAt] [datetime2](7) NULL,
	[CheckOutAt] [datetime2](7) NULL,
	[Notes] [nvarchar](500) NULL,
	[DurationMinutes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CheckInId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkOrderMessage]    Script Date: 26/3/2026 08:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrderMessage](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[WorkOrderId] [int] NOT NULL,
	[SenderUserId] [int] NOT NULL,
	[Body] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkOrderMessageAttachment]    Script Date: 26/3/2026 08:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrderMessageAttachment](
	[AttachmentId] [int] IDENTITY(1,1) NOT NULL,
	[MessageId] [int] NOT NULL,
	[FileId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttachmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Client_Type]    Script Date: 26/3/2026 08:17:52 ******/
CREATE NONCLUSTERED INDEX [IX_Client_Type] ON [dbo].[ClientProfile]
(
	[ClientType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tech_Zone]    Script Date: 26/3/2026 08:17:52 ******/
CREATE NONCLUSTERED INDEX [IX_Tech_Zone] ON [dbo].[TechnicianProfile]
(
	[Zone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 26/3/2026 08:17:52 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_UserType]    Script Date: 26/3/2026 08:17:52 ******/
CREATE NONCLUSTERED INDEX [IX_Users_UserType] ON [dbo].[Users]
(
	[UserType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_WorkOrder_Category]    Script Date: 26/3/2026 08:17:52 ******/
CREATE NONCLUSTERED INDEX [IX_WorkOrder_Category] ON [dbo].[WorkOrder]
(
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkOrder_Client]    Script Date: 26/3/2026 08:17:52 ******/
CREATE NONCLUSTERED INDEX [IX_WorkOrder_Client] ON [dbo].[WorkOrder]
(
	[ClientUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_WorkOrder_Status]    Script Date: 26/3/2026 08:17:52 ******/
CREATE NONCLUSTERED INDEX [IX_WorkOrder_Status] ON [dbo].[WorkOrder]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_WorkOrder_Urgency]    Script Date: 26/3/2026 08:17:52 ******/
CREATE NONCLUSTERED INDEX [IX_WorkOrder_Urgency] ON [dbo].[WorkOrder]
(
	[Urgency] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assignment_Tech]    Script Date: 26/3/2026 08:17:52 ******/
CREATE NONCLUSTERED INDEX [IX_Assignment_Tech] ON [dbo].[WorkOrderAssignment]
(
	[TechnicianUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assignment_WorkOrder]    Script Date: 26/3/2026 08:17:52 ******/
CREATE NONCLUSTERED INDEX [IX_Assignment_WorkOrder] ON [dbo].[WorkOrderAssignment]
(
	[WorkOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CheckIn_Order]    Script Date: 26/3/2026 08:17:52 ******/
CREATE NONCLUSTERED INDEX [IX_CheckIn_Order] ON [dbo].[WorkOrderCheckIn]
(
	[WorkOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CheckIn_Tech]    Script Date: 26/3/2026 08:17:52 ******/
CREATE NONCLUSTERED INDEX [IX_CheckIn_Tech] ON [dbo].[WorkOrderCheckIn]
(
	[TechnicianUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Message_Date]    Script Date: 26/3/2026 08:17:52 ******/
CREATE NONCLUSTERED INDEX [IX_Message_Date] ON [dbo].[WorkOrderMessage]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Message_Order]    Script Date: 26/3/2026 08:17:52 ******/
CREATE NONCLUSTERED INDEX [IX_Message_Order] ON [dbo].[WorkOrderMessage]
(
	[WorkOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FileStorage] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TechnicianCV] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkOrder] ADD  DEFAULT ('OPEN') FOR [Status]
GO
ALTER TABLE [dbo].[WorkOrder] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkOrderAssignment] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkOrderMessage] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ClientProfile]  WITH CHECK ADD  CONSTRAINT [FK_Client_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ClientProfile] CHECK CONSTRAINT [FK_Client_User]
GO
ALTER TABLE [dbo].[TechnicianCV]  WITH CHECK ADD  CONSTRAINT [FK_CV_File] FOREIGN KEY([FileId])
REFERENCES [dbo].[FileStorage] ([FileId])
GO
ALTER TABLE [dbo].[TechnicianCV] CHECK CONSTRAINT [FK_CV_File]
GO
ALTER TABLE [dbo].[TechnicianCV]  WITH CHECK ADD  CONSTRAINT [FK_CV_Tech] FOREIGN KEY([TechnicianUserId])
REFERENCES [dbo].[TechnicianProfile] ([UserId])
GO
ALTER TABLE [dbo].[TechnicianCV] CHECK CONSTRAINT [FK_CV_Tech]
GO
ALTER TABLE [dbo].[TechnicianEducation]  WITH CHECK ADD  CONSTRAINT [FK_Edu_Tech] FOREIGN KEY([TechnicianUserId])
REFERENCES [dbo].[TechnicianProfile] ([UserId])
GO
ALTER TABLE [dbo].[TechnicianEducation] CHECK CONSTRAINT [FK_Edu_Tech]
GO
ALTER TABLE [dbo].[TechnicianExperience]  WITH CHECK ADD  CONSTRAINT [FK_Exp_Tech] FOREIGN KEY([TechnicianUserId])
REFERENCES [dbo].[TechnicianProfile] ([UserId])
GO
ALTER TABLE [dbo].[TechnicianExperience] CHECK CONSTRAINT [FK_Exp_Tech]
GO
ALTER TABLE [dbo].[TechnicianProfile]  WITH CHECK ADD  CONSTRAINT [FK_Tech_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TechnicianProfile] CHECK CONSTRAINT [FK_Tech_User]
GO
ALTER TABLE [dbo].[WorkOrder]  WITH CHECK ADD  CONSTRAINT [FK_WorkOrder_Client] FOREIGN KEY([ClientUserId])
REFERENCES [dbo].[ClientProfile] ([UserId])
GO
ALTER TABLE [dbo].[WorkOrder] CHECK CONSTRAINT [FK_WorkOrder_Client]
GO
ALTER TABLE [dbo].[WorkOrderAssignment]  WITH CHECK ADD  CONSTRAINT [FK_Assign_Order] FOREIGN KEY([WorkOrderId])
REFERENCES [dbo].[WorkOrder] ([WorkOrderId])
GO
ALTER TABLE [dbo].[WorkOrderAssignment] CHECK CONSTRAINT [FK_Assign_Order]
GO
ALTER TABLE [dbo].[WorkOrderAssignment]  WITH CHECK ADD  CONSTRAINT [FK_Assign_Tech] FOREIGN KEY([TechnicianUserId])
REFERENCES [dbo].[TechnicianProfile] ([UserId])
GO
ALTER TABLE [dbo].[WorkOrderAssignment] CHECK CONSTRAINT [FK_Assign_Tech]
GO
ALTER TABLE [dbo].[WorkOrderCheckIn]  WITH CHECK ADD  CONSTRAINT [FK_CheckIn_Order] FOREIGN KEY([WorkOrderId])
REFERENCES [dbo].[WorkOrder] ([WorkOrderId])
GO
ALTER TABLE [dbo].[WorkOrderCheckIn] CHECK CONSTRAINT [FK_CheckIn_Order]
GO
ALTER TABLE [dbo].[WorkOrderCheckIn]  WITH CHECK ADD  CONSTRAINT [FK_CheckIn_Tech] FOREIGN KEY([TechnicianUserId])
REFERENCES [dbo].[TechnicianProfile] ([UserId])
GO
ALTER TABLE [dbo].[WorkOrderCheckIn] CHECK CONSTRAINT [FK_CheckIn_Tech]
GO
ALTER TABLE [dbo].[WorkOrderMessage]  WITH CHECK ADD  CONSTRAINT [FK_Message_Order] FOREIGN KEY([WorkOrderId])
REFERENCES [dbo].[WorkOrder] ([WorkOrderId])
GO
ALTER TABLE [dbo].[WorkOrderMessage] CHECK CONSTRAINT [FK_Message_Order]
GO
ALTER TABLE [dbo].[WorkOrderMessage]  WITH CHECK ADD  CONSTRAINT [FK_Message_User] FOREIGN KEY([SenderUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[WorkOrderMessage] CHECK CONSTRAINT [FK_Message_User]
GO
ALTER TABLE [dbo].[WorkOrderMessageAttachment]  WITH CHECK ADD  CONSTRAINT [FK_Attachment_File] FOREIGN KEY([FileId])
REFERENCES [dbo].[FileStorage] ([FileId])
GO
ALTER TABLE [dbo].[WorkOrderMessageAttachment] CHECK CONSTRAINT [FK_Attachment_File]
GO
ALTER TABLE [dbo].[WorkOrderMessageAttachment]  WITH CHECK ADD  CONSTRAINT [FK_Attachment_Message] FOREIGN KEY([MessageId])
REFERENCES [dbo].[WorkOrderMessage] ([MessageId])
GO
ALTER TABLE [dbo].[WorkOrderMessageAttachment] CHECK CONSTRAINT [FK_Attachment_Message]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddMessageAttachment]    Script Date: 26/3/2026 08:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddMessageAttachment]
    @MessageId        INT,
    @SenderUserId     INT,
    -- Datos del archivo
    @OriginalFileName NVARCHAR(255),
    @StoragePathOrUrl NVARCHAR(500),
    @MimeType         NVARCHAR(100),
    @SizeBytes        INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM WorkOrderMessage WHERE MessageId = @MessageId)
    BEGIN
        RAISERROR('MESSAGE_NOT_FOUND', 16, 1);
        RETURN;
    END

    -- 1. Insertar archivo
    DECLARE @FileId INT;

    INSERT INTO FileStorage (UploadedByUserId, OriginalFileName, StoragePathOrUrl, MimeType, SizeBytes)
    VALUES (@SenderUserId, @OriginalFileName, @StoragePathOrUrl, @MimeType, @SizeBytes);

    SET @FileId = SCOPE_IDENTITY();

    -- 2. Vincular al mensaje
    INSERT INTO WorkOrderMessageAttachment (MessageId, FileId)
    VALUES (@MessageId, @FileId);

    SELECT @FileId AS FileId, SCOPE_IDENTITY() AS AttachmentId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AplicarOrden]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AplicarOrden]
    @WorkOrderId      INT,
    @TechnicianUserId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que la orden esté OPEN
    IF NOT EXISTS (SELECT 1 FROM WorkOrder WHERE WorkOrderId = @WorkOrderId AND Status = 'OPEN')
    BEGIN
        RAISERROR('WORKORDER_NOT_AVAILABLE', 16, 1);
        RETURN;
    END

    -- Validar que no tenga ya un técnico ACCEPTED
    IF EXISTS (SELECT 1 FROM WorkOrderAssignment 
               WHERE WorkOrderId = @WorkOrderId AND Status = 'ACCEPTED')
    BEGIN
        RAISERROR('WORKORDER_ALREADY_TAKEN', 16, 1);
        RETURN;
    END

    -- Insertar asignación directo como ACCEPTED
    INSERT INTO WorkOrderAssignment (WorkOrderId, TechnicianUserId, Status, AssignedAt, RespondedAt)
    VALUES (@WorkOrderId, @TechnicianUserId, 'ACCEPTED', SYSDATETIME(), SYSDATETIME());

    -- El trigger TR_Assignment_UpdateWorkOrderStatus cambia WorkOrder a IN_PROGRESS automático

    SELECT SCOPE_IDENTITY() AS AssignmentId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CancelWorkOrder]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- CANCEL WORK ORDER
-- =============================================
CREATE   PROCEDURE [dbo].[sp_CancelWorkOrder]
    @WorkOrderId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM WorkOrder WHERE WorkOrderId = @WorkOrderId)
    BEGIN
        RAISERROR('WORKORDER_NOT_FOUND', 16, 1);
        RETURN;
    END

    UPDATE WorkOrder SET Status = 'CANCELLED' WHERE WorkOrderId = @WorkOrderId;

    -- Cancelar asignaciones activas
    UPDATE WorkOrderAssignment
    SET Status = 'CANCELLED'
    WHERE WorkOrderId = @WorkOrderId AND Status IN ('PENDING', 'ACCEPTED');

    SELECT 'OK' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckIn]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- CHECK IN
-- =============================================
CREATE   PROCEDURE [dbo].[sp_CheckIn]
    @WorkOrderId      INT,
    @TechnicianUserId INT,
    @Notes            NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que tiene una asignacion activa
    IF NOT EXISTS (
        SELECT 1 FROM WorkOrderAssignment
        WHERE WorkOrderId = @WorkOrderId 
          AND TechnicianUserId = @TechnicianUserId 
          AND Status = 'ACCEPTED'
    )
    BEGIN
        RAISERROR('NO_ACTIVE_ASSIGNMENT', 16, 1);
        RETURN;
    END

    -- Validar que no tiene un checkin abierto
    IF EXISTS (
        SELECT 1 FROM WorkOrderCheckIn
        WHERE WorkOrderId = @WorkOrderId 
          AND TechnicianUserId = @TechnicianUserId 
          AND CheckOutAt IS NULL
    )
    BEGIN
        RAISERROR('CHECKIN_ALREADY_OPEN', 16, 1);
        RETURN;
    END

    INSERT INTO WorkOrderCheckIn (WorkOrderId, TechnicianUserId, CheckInAt, Notes)
    VALUES (@WorkOrderId, @TechnicianUserId, SYSDATETIME(), @Notes);

    SELECT SCOPE_IDENTITY() AS CheckInId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckOut]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- CHECK OUT
-- =============================================
CREATE   PROCEDURE [dbo].[sp_CheckOut]
    @CheckInId INT,
    @Notes     NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM WorkOrderCheckIn WHERE CheckInId = @CheckInId AND CheckOutAt IS NULL)
    BEGIN
        RAISERROR('CHECKIN_NOT_OPEN', 16, 1);
        RETURN;
    END

    UPDATE WorkOrderCheckIn
    SET 
        CheckOutAt = SYSDATETIME(),
        Notes      = ISNULL(@Notes, Notes)
    WHERE CheckInId = @CheckInId;
    -- El trigger TR_CheckIn_CalcDuration calcula DurationMinutes automaticamente

    SELECT 'OK' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CompleteAssignment]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- COMPLETAR ASIGNACION
-- =============================================
CREATE   PROCEDURE [dbo].[sp_CompleteAssignment]
    @AssignmentId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM WorkOrderAssignment WHERE AssignmentId = @AssignmentId AND Status = 'ACCEPTED')
    BEGIN
        RAISERROR('ASSIGNMENT_NOT_ACTIVE', 16, 1);
        RETURN;
    END

    UPDATE WorkOrderAssignment
    SET Status = 'COMPLETED', RespondedAt = SYSDATETIME()
    WHERE AssignmentId = @AssignmentId;

    SELECT 'OK' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateAssignment]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- ASIGNAR TECNICO A ORDEN (lo hace el cliente)
-- =============================================
CREATE   PROCEDURE [dbo].[sp_CreateAssignment]
    @WorkOrderId      INT,
    @TechnicianUserId INT,
    @AgreedAmount     DECIMAL(10,2) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM WorkOrder WHERE WorkOrderId = @WorkOrderId AND Status = 'OPEN')
    BEGIN
        RAISERROR('WORKORDER_NOT_AVAILABLE', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM WorkOrderAssignment 
               WHERE WorkOrderId = @WorkOrderId AND TechnicianUserId = @TechnicianUserId 
               AND Status != 'CANCELLED')
    BEGIN
        RAISERROR('ASSIGNMENT_ALREADY_EXISTS', 16, 1);
        RETURN;
    END

    INSERT INTO WorkOrderAssignment (WorkOrderId, TechnicianUserId, Status, AgreedAmount, AssignedAt)
    VALUES (@WorkOrderId, @TechnicianUserId, 'PENDING', @AgreedAmount, SYSDATETIME());

    SELECT SCOPE_IDENTITY() AS AssignmentId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateWorkOrder]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CreateWorkOrder]
    @ClientUserId INT,
    @Title        NVARCHAR(200),
    @Description  NVARCHAR(MAX) = NULL,
    @Category     NVARCHAR(100) = NULL,
    @LocationText NVARCHAR(255) = NULL,
    @BudgetAmount DECIMAL(10,2) = NULL,
    @Urgency      NVARCHAR(20)  = 'NORMAL'
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM ClientProfile WHERE UserId = @ClientUserId)
    BEGIN
        RAISERROR('CLIENT_NOT_FOUND', 16, 1);
        RETURN;
    END

    INSERT INTO WorkOrder (ClientUserId, Title, Description, Category, LocationText, BudgetAmount, Urgency, Status)
    VALUES (@ClientUserId, @Title, @Description, @Category, @LocationText, @BudgetAmount, @Urgency, 'OPEN');

    SELECT SCOPE_IDENTITY() AS WorkOrderId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeactivateUser]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SOFT DELETE USER (desactivar cuenta)
-- =============================================
CREATE   PROCEDURE [dbo].[sp_DeactivateUser]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users SET IsActive = 0 WHERE UserId = @UserId;
    SELECT 'OK' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteFile]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- DELETE FILE
-- =============================================
CREATE   PROCEDURE [dbo].[sp_DeleteFile]
    @FileId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM FileStorage WHERE FileId = @FileId)
    BEGIN
        RAISERROR('FILE_NOT_FOUND', 16, 1);
        RETURN;
    END

    DELETE FROM FileStorage WHERE FileId = @FileId;

    SELECT 'OK' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteTechnicianEducation]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- EDUCATION — Delete
-- =============================================
CREATE   PROCEDURE [dbo].[sp_DeleteTechnicianEducation]
    @EducationId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM TechnicianEducation WHERE EducationId = @EducationId;
    SELECT 'OK' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteTechnicianExperience]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- EXPERIENCE — Delete
-- =============================================
CREATE   PROCEDURE [dbo].[sp_DeleteTechnicianExperience]
    @ExperienceId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM TechnicianExperience WHERE ExperienceId = @ExperienceId;
    SELECT 'OK' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAssignmentsByTechnician]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- GET ASSIGNMENTS BY TECHNICIAN
-- =============================================
CREATE   PROCEDURE [dbo].[sp_GetAssignmentsByTechnician]
    @TechnicianUserId INT,
    @Status           NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        wa.AssignmentId,
        wa.Status,
        wa.AgreedAmount,
        wa.AssignedAt,
        wa.RespondedAt,
        wo.WorkOrderId,
        wo.Title,
        wo.Category,
        wo.LocationText,
        wo.Urgency,
        wo.BudgetAmount
    FROM WorkOrderAssignment wa
    INNER JOIN WorkOrder wo ON wo.WorkOrderId = wa.WorkOrderId
    WHERE wa.TechnicianUserId = @TechnicianUserId
      AND (@Status IS NULL OR wa.Status = @Status)
    ORDER BY wa.AssignedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAssignmentsByWorkOrder]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- GET ASSIGNMENTS BY WORK ORDER
-- =============================================
CREATE   PROCEDURE [dbo].[sp_GetAssignmentsByWorkOrder]
    @WorkOrderId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        wa.AssignmentId,
        wa.Status,
        wa.AgreedAmount,
        wa.AssignedAt,
        wa.RespondedAt,
        u.UserId AS TechnicianUserId,
        u.FirstName + ' ' + u.LastName AS TechnicianName,
        tp.Zone,
        tp.HourlyRate,
        tp.AvailabilityStatus
    FROM WorkOrderAssignment wa
    INNER JOIN TechnicianProfile tp ON tp.UserId = wa.TechnicianUserId
    INNER JOIN Users u ON u.UserId = wa.TechnicianUserId
    WHERE wa.WorkOrderId = @WorkOrderId
    ORDER BY wa.AssignedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCheckInsByWorkOrder]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- GET CHECKINS BY WORK ORDER
-- =============================================
CREATE   PROCEDURE [dbo].[sp_GetCheckInsByWorkOrder]
    @WorkOrderId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        wci.CheckInId,
        wci.CheckInAt,
        wci.CheckOutAt,
        wci.DurationMinutes,
        wci.Notes,
        u.FirstName + ' ' + u.LastName AS TechnicianName
    FROM WorkOrderCheckIn wci
    INNER JOIN Users u ON u.UserId = wci.TechnicianUserId
    WHERE wci.WorkOrderId = @WorkOrderId
    ORDER BY wci.CheckInAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClientProfile]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- GET CLIENT PROFILE
-- =============================================
CREATE   PROCEDURE [dbo].[sp_GetClientProfile]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.UserId,
        u.Email,
        u.FirstName,
        u.LastName,
        u.Phone,
        cp.ClientType,
        cp.DisplayName,
        cp.ContactName,
        cp.ContactPhone,
        cp.LocationText
    FROM Users u
    INNER JOIN ClientProfile cp ON cp.UserId = u.UserId
    WHERE u.UserId = @UserId AND u.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMessagesByWorkOrder]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- GET MESSAGES BY WORK ORDER
-- =============================================
CREATE   PROCEDURE [dbo].[sp_GetMessagesByWorkOrder]
    @WorkOrderId INT,
    @PageNum     INT = 1,
    @PageSize    INT = 50
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        m.MessageId,
        m.Body,
        m.CreatedAt,
        u.UserId AS SenderUserId,
        u.FirstName + ' ' + u.LastName AS SenderName,
        u.UserType AS SenderType
    FROM WorkOrderMessage m
    INNER JOIN Users u ON u.UserId = m.SenderUserId
    WHERE m.WorkOrderId = @WorkOrderId
    ORDER BY m.CreatedAt ASC
    OFFSET (@PageNum - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTechnicianEducation]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- EDUCATION — Get by Technician
-- =============================================
CREATE   PROCEDURE [dbo].[sp_GetTechnicianEducation]
    @TechnicianUserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT EducationId, Institution, TitleOrDegree, Year, Notes
    FROM TechnicianEducation
    WHERE TechnicianUserId = @TechnicianUserId
    ORDER BY Year DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTechnicianExperience]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- EXPERIENCE — Get by Technician
-- =============================================
CREATE   PROCEDURE [dbo].[sp_GetTechnicianExperience]
    @TechnicianUserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ExperienceId, RoleTitle, CompanyName, StartYear, EndYear, Description
    FROM TechnicianExperience
    WHERE TechnicianUserId = @TechnicianUserId
    ORDER BY StartYear DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTechnicianFullProfile]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- GET FULL TECHNICIAN PROFILE (todo junto)
-- =============================================
CREATE   PROCEDURE [dbo].[sp_GetTechnicianFullProfile]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Info base
    SELECT 
        u.UserId, u.Email, u.FirstName, u.LastName, u.Phone,
        tp.Bio, tp.HourlyRate, tp.Zone, tp.AvailabilityStatus, tp.PortfolioUrl,
        (SELECT COUNT(*) FROM WorkOrderAssignment 
         WHERE TechnicianUserId = u.UserId AND Status = 'COMPLETED') AS CompletedJobs
    FROM Users u
    INNER JOIN TechnicianProfile tp ON tp.UserId = u.UserId
    WHERE u.UserId = @UserId AND u.IsActive = 1;

    -- Educacion
    SELECT EducationId, Institution, TitleOrDegree, Year, Notes
    FROM TechnicianEducation
    WHERE TechnicianUserId = @UserId
    ORDER BY Year DESC;

    -- Experiencia
    SELECT ExperienceId, RoleTitle, CompanyName, StartYear, EndYear, Description
    FROM TechnicianExperience
    WHERE TechnicianUserId = @UserId
    ORDER BY StartYear DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTechnicianProfile]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- GET TECHNICIAN PROFILE
-- =============================================
CREATE   PROCEDURE [dbo].[sp_GetTechnicianProfile]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.UserId,
        u.Email,
        u.FirstName,
        u.LastName,
        u.Phone,
        tp.Bio,
        tp.HourlyRate,
        tp.Zone,
        tp.AvailabilityStatus,
        tp.PortfolioUrl
    FROM Users u
    INNER JOIN TechnicianProfile tp ON tp.UserId = u.UserId
    WHERE u.UserId = @UserId AND u.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetWorkOrder]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- GET WORK ORDER DETAIL
-- =============================================
CREATE   PROCEDURE [dbo].[sp_GetWorkOrder]
    @WorkOrderId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        wo.WorkOrderId,
        wo.Title,
        wo.Description,
        wo.Category,
        wo.LocationText,
        wo.BudgetAmount,
        wo.Urgency,
        wo.Status,
        wo.CreatedAt,
        -- Cliente
        u.FirstName + ' ' + u.LastName AS ClientName,
        cp.DisplayName AS ClientDisplayName,
        cp.ContactPhone AS ClientPhone
    FROM WorkOrder wo
    INNER JOIN ClientProfile cp ON cp.UserId = wo.ClientUserId
    INNER JOIN Users u ON u.UserId = wo.ClientUserId
    WHERE wo.WorkOrderId = @WorkOrderId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertTechnicianEducation]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- EDUCATION — Insert
-- =============================================
CREATE   PROCEDURE [dbo].[sp_InsertTechnicianEducation]
    @TechnicianUserId INT,
    @Institution      NVARCHAR(150),
    @TitleOrDegree    NVARCHAR(150),
    @Year             INT,
    @Notes            NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO TechnicianEducation (TechnicianUserId, Institution, TitleOrDegree, Year, Notes)
    VALUES (@TechnicianUserId, @Institution, @TitleOrDegree, @Year, @Notes);

    SELECT SCOPE_IDENTITY() AS EducationId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertTechnicianExperience]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- EXPERIENCE — Insert
-- =============================================
CREATE   PROCEDURE [dbo].[sp_InsertTechnicianExperience]
    @TechnicianUserId INT,
    @RoleTitle        NVARCHAR(150),
    @CompanyName      NVARCHAR(150),
    @StartYear        INT,
    @EndYear          INT           = NULL,
    @Description      NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO TechnicianExperience (TechnicianUserId, RoleTitle, CompanyName, StartYear, EndYear, Description)
    VALUES (@TechnicianUserId, @RoleTitle, @CompanyName, @StartYear, @EndYear, @Description);

    SELECT SCOPE_IDENTITY() AS ExperienceId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListTechnicians]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- LISTAR TECNICOS con filtros (para que clientes busquen)
-- =============================================
CREATE   PROCEDURE [dbo].[sp_ListTechnicians]
    @Zone               NVARCHAR(100) = NULL,
    @AvailabilityStatus NVARCHAR(50)  = NULL,
    @MaxHourlyRate      DECIMAL(10,2) = NULL,
    @PageNum            INT           = 1,
    @PageSize           INT           = 20
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.UserId,
        u.FirstName + ' ' + u.LastName AS FullName,
        u.Email,
        tp.Bio,
        tp.HourlyRate,
        tp.Zone,
        tp.AvailabilityStatus,
        tp.PortfolioUrl,
        -- Trabajos completados
        (SELECT COUNT(*) FROM WorkOrderAssignment 
         WHERE TechnicianUserId = u.UserId AND Status = 'COMPLETED') AS CompletedJobs
    FROM Users u
    INNER JOIN TechnicianProfile tp ON tp.UserId = u.UserId
    WHERE u.IsActive = 1
      AND (@Zone               IS NULL OR tp.Zone               = @Zone)
      AND (@AvailabilityStatus IS NULL OR tp.AvailabilityStatus = @AvailabilityStatus)
      AND (@MaxHourlyRate      IS NULL OR tp.HourlyRate        <= @MaxHourlyRate)
    ORDER BY CompletedJobs DESC, tp.HourlyRate ASC
    OFFSET (@PageNum - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListWorkOrders]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListWorkOrders]
    @Status   NVARCHAR(20)  = NULL,
    @Category NVARCHAR(100) = NULL,
    @Urgency  NVARCHAR(20)  = NULL,
    @Zone     NVARCHAR(100) = NULL,
    @PageNum  INT           = 1,
    @PageSize INT           = 20,
    @SoloDisponibles BIT   = 0  -- 1 = solo las que no tienen tecnico
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        wo.WorkOrderId, wo.Title, wo.Category, wo.LocationText,
        wo.BudgetAmount, wo.Urgency, wo.Status, wo.CreatedAt,
        u.FirstName + ' ' + u.LastName AS ClientName,
        cp.DisplayName AS ClientDisplayName
    FROM WorkOrder wo
    INNER JOIN ClientProfile cp ON cp.UserId = wo.ClientUserId
    INNER JOIN Users u ON u.UserId = wo.ClientUserId
    WHERE (@Status   IS NULL OR wo.Status   = @Status)
      AND (@Category IS NULL OR wo.Category = @Category)
      AND (@Urgency  IS NULL OR wo.Urgency  = @Urgency)
      AND (@Zone     IS NULL OR wo.LocationText LIKE '%' + @Zone + '%')
      AND (@SoloDisponibles = 0 OR NOT EXISTS (
            SELECT 1 FROM WorkOrderAssignment
            WHERE WorkOrderId = wo.WorkOrderId AND Status = 'ACCEPTED'
      ))
    ORDER BY 
        CASE wo.Urgency WHEN 'HIGH' THEN 1 WHEN 'NORMAL' THEN 2 ELSE 3 END,
        wo.CreatedAt DESC
    OFFSET (@PageNum - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_LoginUser]
    @Email NVARCHAR(150),
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UserId,
        Email,
        UserType,
        FirstName,
        LastName
    FROM Users
    WHERE Email = @Email
      AND PasswordHash = @PasswordHash
      AND IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RegisterUser]
    @Email NVARCHAR(150),
    @PasswordHash NVARCHAR(255),
    @UserType INT,
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
    BEGIN
        RAISERROR('EMAIL_EXISTS',16,1);
        RETURN;
    END

    DECLARE @UserTypeStr NVARCHAR(10) = CASE WHEN @UserType = 0 THEN 'TECH' ELSE 'CLIENT' END;

    INSERT INTO Users (Email, PasswordHash, UserType, FirstName, LastName, IsActive, CreatedAt)
    VALUES (@Email, @PasswordHash, @UserTypeStr, @FirstName, @LastName, 1, SYSDATETIME());

    DECLARE @UserId INT = SCOPE_IDENTITY();

    IF @UserTypeStr = 'TECH'
        INSERT INTO TechnicianProfile (UserId) VALUES (@UserId);
    ELSE
        INSERT INTO ClientProfile (UserId, ClientType) VALUES (@UserId, 'GENERAL');

    SELECT @UserId AS UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RespondAssignment]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- TECNICO RESPONDE (acepta o rechaza)
-- =============================================
CREATE   PROCEDURE [dbo].[sp_RespondAssignment]
    @AssignmentId INT,
    @Accept       BIT  -- 1 = acepta, 0 = rechaza
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM WorkOrderAssignment WHERE AssignmentId = @AssignmentId AND Status = 'PENDING')
    BEGIN
        RAISERROR('ASSIGNMENT_NOT_PENDING', 16, 1);
        RETURN;
    END

    UPDATE WorkOrderAssignment
    SET 
        Status      = CASE WHEN @Accept = 1 THEN 'ACCEPTED' ELSE 'REJECTED' END,
        RespondedAt = SYSDATETIME()
    WHERE AssignmentId = @AssignmentId;

    SELECT 'OK' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveTechnicianCV]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_SaveTechnicianCV]
    @TechnicianUserId INT,
    -- Datos del archivo
    @OriginalFileName NVARCHAR(255),
    @StoragePathOrUrl NVARCHAR(500),
    @MimeType         NVARCHAR(100),
    @SizeBytes        INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM TechnicianProfile WHERE UserId = @TechnicianUserId)
    BEGIN
        RAISERROR('TECH_NOT_FOUND', 16, 1);
        RETURN;
    END

    -- 1. Insertar archivo
    DECLARE @FileId INT;

    INSERT INTO FileStorage (UploadedByUserId, OriginalFileName, StoragePathOrUrl, MimeType, SizeBytes)
    VALUES (@TechnicianUserId, @OriginalFileName, @StoragePathOrUrl, @MimeType, @SizeBytes);

    SET @FileId = SCOPE_IDENTITY();

    -- 2. Guardar o actualizar CV
    IF EXISTS (SELECT 1 FROM TechnicianCV WHERE TechnicianUserId = @TechnicianUserId)
        UPDATE TechnicianCV
        SET FileId = @FileId, UpdatedAt = SYSDATETIME()
        WHERE TechnicianUserId = @TechnicianUserId;
    ELSE
        INSERT INTO TechnicianCV (TechnicianUserId, FileId)
        VALUES (@TechnicianUserId, @FileId);

    SELECT @FileId AS FileId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SendMessage]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- SEND MESSAGE
-- =============================================
CREATE   PROCEDURE [dbo].[sp_SendMessage]
    @WorkOrderId  INT,
    @SenderUserId INT,
    @Body         NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que el sender es parte de la orden (cliente o tecnico asignado)
    IF NOT EXISTS (SELECT 1 FROM WorkOrder WHERE WorkOrderId = @WorkOrderId AND ClientUserId = @SenderUserId)
    AND NOT EXISTS (SELECT 1 FROM WorkOrderAssignment 
                    WHERE WorkOrderId = @WorkOrderId 
                      AND TechnicianUserId = @SenderUserId 
                      AND Status IN ('ACCEPTED', 'COMPLETED'))
    BEGIN
        RAISERROR('NOT_AUTHORIZED', 16, 1);
        RETURN;
    END

    INSERT INTO WorkOrderMessage (WorkOrderId, SenderUserId, Body)
    VALUES (@WorkOrderId, @SenderUserId, @Body);

    SELECT SCOPE_IDENTITY() AS MessageId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateClientProfile]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- UPDATE CLIENT PROFILE
-- =============================================
CREATE   PROCEDURE [dbo].[sp_UpdateClientProfile]
    @UserId       INT,
    @ClientType   NVARCHAR(50)  = NULL,
    @DisplayName  NVARCHAR(150) = NULL,
    @ContactName  NVARCHAR(150) = NULL,
    @ContactPhone NVARCHAR(20)  = NULL,
    @LocationText NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM ClientProfile WHERE UserId = @UserId)
    BEGIN
        RAISERROR('CLIENT_NOT_FOUND', 16, 1);
        RETURN;
    END

    UPDATE ClientProfile
    SET
        ClientType    = ISNULL(@ClientType,   ClientType),
        DisplayName   = ISNULL(@DisplayName,  DisplayName),
        ContactName   = ISNULL(@ContactName,  ContactName),
        ContactPhone  = ISNULL(@ContactPhone, ContactPhone),
        LocationText  = ISNULL(@LocationText, LocationText)
    WHERE UserId = @UserId;

    SELECT 'OK' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTechnicianEducation]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- EDUCATION — Update
-- =============================================
CREATE   PROCEDURE [dbo].[sp_UpdateTechnicianEducation]
    @EducationId   INT,
    @Institution   NVARCHAR(150) = NULL,
    @TitleOrDegree NVARCHAR(150) = NULL,
    @Year          INT           = NULL,
    @Notes         NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM TechnicianEducation WHERE EducationId = @EducationId)
    BEGIN
        RAISERROR('EDUCATION_NOT_FOUND', 16, 1);
        RETURN;
    END

    UPDATE TechnicianEducation
    SET
        Institution   = ISNULL(@Institution,   Institution),
        TitleOrDegree = ISNULL(@TitleOrDegree, TitleOrDegree),
        Year          = ISNULL(@Year,          Year),
        Notes         = ISNULL(@Notes,         Notes)
    WHERE EducationId = @EducationId;

    SELECT 'OK' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTechnicianExperience]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- EXPERIENCE — Update
-- =============================================
CREATE   PROCEDURE [dbo].[sp_UpdateTechnicianExperience]
    @ExperienceId INT,
    @RoleTitle    NVARCHAR(150) = NULL,
    @CompanyName  NVARCHAR(150) = NULL,
    @StartYear    INT           = NULL,
    @EndYear      INT           = NULL,
    @Description  NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM TechnicianExperience WHERE ExperienceId = @ExperienceId)
    BEGIN
        RAISERROR('EXPERIENCE_NOT_FOUND', 16, 1);
        RETURN;
    END

    UPDATE TechnicianExperience
    SET
        RoleTitle    = ISNULL(@RoleTitle,    RoleTitle),
        CompanyName  = ISNULL(@CompanyName,  CompanyName),
        StartYear    = ISNULL(@StartYear,    StartYear),
        EndYear      = ISNULL(@EndYear,      EndYear),
        Description  = ISNULL(@Description,  Description)
    WHERE ExperienceId = @ExperienceId;

    SELECT 'OK' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTechnicianProfile]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- UPDATE TECHNICIAN PROFILE
-- =============================================
CREATE   PROCEDURE [dbo].[sp_UpdateTechnicianProfile]
    @UserId             INT,
    @Bio                NVARCHAR(MAX) = NULL,
    @HourlyRate         DECIMAL(10,2) = NULL,
    @Zone               NVARCHAR(100) = NULL,
    @AvailabilityStatus NVARCHAR(50)  = NULL,
    @PortfolioUrl       NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM TechnicianProfile WHERE UserId = @UserId)
    BEGIN
        RAISERROR('TECH_NOT_FOUND', 16, 1);
        RETURN;
    END

    UPDATE TechnicianProfile
    SET
        Bio                = ISNULL(@Bio,                Bio),
        HourlyRate         = ISNULL(@HourlyRate,         HourlyRate),
        Zone               = ISNULL(@Zone,               Zone),
        AvailabilityStatus = ISNULL(@AvailabilityStatus, AvailabilityStatus),
        PortfolioUrl       = ISNULL(@PortfolioUrl,       PortfolioUrl)
    WHERE UserId = @UserId;

    SELECT 'OK' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserCredentials]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateUserCredentials]
    @UserId     INT,
    @NewPasswordHash NVARCHAR(255) = NULL,
    @NewPhone        NVARCHAR(20)  = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserId = @UserId AND IsActive = 1)
    BEGIN
        RAISERROR('USER_NOT_FOUND', 16, 1);
        RETURN;
    END

    UPDATE Users
    SET
        PasswordHash = ISNULL(@NewPasswordHash, PasswordHash),
        Phone        = ISNULL(@NewPhone, Phone)
    WHERE UserId = @UserId;

    SELECT 'OK' AS Result;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateWorkOrder]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- UPDATE WORK ORDER
-- =============================================
CREATE   PROCEDURE [dbo].[sp_UpdateWorkOrder]
    @WorkOrderId  INT,
    @Title        NVARCHAR(200) = NULL,
    @Description  NVARCHAR(MAX) = NULL,
    @Category     NVARCHAR(100) = NULL,
    @LocationText NVARCHAR(255) = NULL,
    @BudgetAmount DECIMAL(10,2) = NULL,
    @Urgency      NVARCHAR(20)  = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM WorkOrder WHERE WorkOrderId = @WorkOrderId)
    BEGIN
        RAISERROR('WORKORDER_NOT_FOUND', 16, 1);
        RETURN;
    END

    -- Solo se puede editar si esta OPEN
    IF NOT EXISTS (SELECT 1 FROM WorkOrder WHERE WorkOrderId = @WorkOrderId AND Status = 'OPEN')
    BEGIN
        RAISERROR('WORKORDER_NOT_EDITABLE', 16, 1);
        RETURN;
    END

    UPDATE WorkOrder
    SET
        Title        = ISNULL(@Title,        Title),
        Description  = ISNULL(@Description,  Description),
        Category     = ISNULL(@Category,     Category),
        LocationText = ISNULL(@LocationText, LocationText),
        BudgetAmount = ISNULL(@BudgetAmount, BudgetAmount),
        Urgency      = ISNULL(@Urgency,      Urgency)
    WHERE WorkOrderId = @WorkOrderId;

    SELECT 'OK' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertTechnicianCV]    Script Date: 26/3/2026 08:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- UPSERT CV (un tecnico tiene maximo 1 CV)
-- =============================================
CREATE   PROCEDURE [dbo].[sp_UpsertTechnicianCV]
    @TechnicianUserId INT,
    @FileId           INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM TechnicianCV WHERE TechnicianUserId = @TechnicianUserId)
        UPDATE TechnicianCV
        SET FileId = @FileId, UpdatedAt = SYSDATETIME()
        WHERE TechnicianUserId = @TechnicianUserId;
    ELSE
        INSERT INTO TechnicianCV (TechnicianUserId, FileId)
        VALUES (@TechnicianUserId, @FileId);

    SELECT 'OK' AS Result;
END
GO
USE [master]
GO
